/* Header */
#head {
	background:#181015 url( ../img/bg_header.jpg) no-repeat;
	background-size: cover;
	min-height:300px;
	text-align: center;
	padding-top:150px;
	color:white;
	font-family:"Open sans", Helvetica, Arial;
	font-weight:300;
}
	#head .lead {
		font-family:"Open sans", Helvetica, Arial;
		font-size:44px;
		margin-bottom:6px;
		color:white;
		line-height:1.15em;
	}

@media (max-width: 767px) {
	#head {
		min-height:200px;
		padding-top:120px;
	}
	#head .lead {
		font-size: 34px;
	}
}


/* Autohide navbar */
.slideUp {
	top:-100px;
}
.headroom {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

/* content */
.content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.content .container {
	margin-top: 10px;
	margin-bottom: 10px;
}
.taskdone{	
    text-decoration: line-through;
}
.hidden{
    display: none;
    visibility: hidden;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family:"Open sans", Helvetica, Arial;
	margin-top:10px;
}
.thin {
	font-weight:300;
}
.text-muted {
	color:#888;
}

img {
	max-width:100%;
}
img.pull-right {
	margin-left: 10px;
}
img.pull-left {
	margin-right: 10px;
}

/* Footer */
footer {
	background: #191919;
	padding: 15px 0;
	color: #777;
	font-size: 12px;
	width: 100%;
	position: fixed;
	bottom:0;
}
	footer a {
		color: #aaa;
	}
		footer a:hover {
			color: #fff;
		}
		footer p {
			margin: 0;
		}

	.widget-simplenav {
		margin-left:-5px;
	}		
	.widget-simplenav a{
		margin:0 5px;
	}		