<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	
	<title>TaskList - Mes Listes</title>
	
	<link rel='stylesheet' media='screen' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
	<link rel='stylesheet' href='./bootstrap/bootstrap.min.css'>
    <link rel='stylesheet' href='./fonts/font-awesome.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel='stylesheet' href='./bootstrap/bootstrap-theme.css' media='screen' >
    
	<link rel='stylesheet' href='./css/main.css'>
    <link rel='shortcut icon' type='image/png' href='img/favicon.png'/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script src='./jquery/headroom.min.js'></script>
    <script src='./jquery/jQuery.headroom.min.js'></script>
    <script src='./jquery/template.js'></script>
    
    <script src="./js/meslistes.js"></script>
    <script src="./js/cookie.js"></script>
</head>

<body ng-controller=MesListesController>
	<div class='navbar navbar-inverse navbar-fixed-top headroom' >
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'><span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span> </button>
				<a class='navbar-brand' href="./index.html"><img src='./img/favicon.png'> TaskList </a>
			</div>
			<div class='navbar-collapse collapse'>
				<ul class='nav navbar-nav pull-right'>
                    <li><a href='./index.html'>Accueil</a></li>
                    <li><a href='#'>Mes listes</a></li>
                    <li><a href='./moncompte.html'>Mon compte</a></li>
                    <li><a onclick="Logout()">Se déconnecter</a></li>
				</ul>
			</div>
		</div>
    </div>
    
    <header id='head'>
		<div class='container'>
			<div class='row'>
				<h1 class='lead'>Mes listes</h1>
			</div>
		</div>
	</header>

    <div class="container content ">
        <div class="container col-sm-8 col-sm-offset-2">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" placeholder="Nouvelle liste" ng-model="formData.nomList" class="form-control input-lg">
                
                    <span class="input-group-btn">
                        <button type="submit" ng-click="ajouterListe()" class="btn btn-primary input-lg"><i class="fas fa-plus"></i></button>
                    </span>
                </div>
            </form>            
        </div>
        
        
        <div class="container col-sm-8 col-sm-offset-2" ng-repeat="liste in meslistes">
            <div class="text-center">
                <h2>
                    <i ng-click="afficherListe($index)" class="fas fa-chevron-down" ng-class="{'hidden': liste._id==idlisteselect}"></i>
                    <i ng-click="cacherTaches()" class="fas fa-chevron-up" ng-class="{'hidden': liste._id!=idlisteselect}"></i> 
                    
                    <span ng-class="{'hidden': ListeModification==$index}">{{liste.nomList}}</span>
                    <button ng-click="changerNomListe($index)" ng-class="{'hidden': ListeModification==$index, 'disabled': liste.idcreateurList!=idUser}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                    <button ng-click="enleverListe($index)" ng-class="{'hidden': ListeModification==$index}" class="btn btn-secondary mb-2" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
                
                    
                    
                    <form class="form-inline" ng-class="{'hidden': ListeModification!=$index}">
                        <div class="input-group">
                            <input type="text" ng-model="liste.nomList" class="form-control input-lg">
                    
                            <span class="input-group-btn">
                                <button ng-click="modifierNomListe($index)" class="btn btn-success mb-2 input-lg" title="Valider"><i class="fas fa-check"></i></button>
                                <button ng-click="annulerChangement()" class="btn btn-danger mb-2 input-lg" title="Annuler"><i class="far fa-window-close"></i></button>
                            </span>
                        </div>
                    </form>

                    <h3 ng-class="{'hidden': liste._id!=idlisteselect}">Par {{liste.createur}}</h3>
                    <p class="text-muted" ng-class="{'hidden': liste._id!=idlisteselect}">Le {{liste.dateList}}</p>
                </h2>
            </div>

            <div ng-class="{'hidden': liste._id!=idlisteselect}">
                <form class="form-inline">
                    <label>Partager avec :</label>
                    <div class="input-group">
                        <input type="text" placeholder="Pseudo ou Email de l'Utilisateur" ng-model="formData.UserPartage" class="form-control input-lg">
                    
                        <span class="input-group-btn">
                            <button type="submit" ng-click="partager($index)" class="btn btn-primary input-lg"><i class="fas fa-share"></i></button>
                        </span>
                    </div>
                </form>
                <p class="text-muted">
                    Partagé avec :
                    <span ng-repeat="user in liste.viewer"> 
                        {{user}}<span ng-class="{'hidden': $index==(liste.viewer.length-1)}">, </span>
                    </span>
                </p>
            </div>

            <div ng-class="{'hidden': liste._id!=idlisteselect}">
                <form class="form-inline">
                    <br><br>
                    <label>Ajouter une tâche :</label>
                    <div class="input-group">
                        <input type="text" placeholder="Nouvelle tâche" ng-model="formData.nomTask" class="form-control input-lg">
                    
                        <span class="input-group-btn">
                            <button type="submit" ng-click="ajouterTache()" class="btn btn-primary input-lg"><i class="fas fa-plus"></i></button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="table-responsive" ng-class="{'hidden': liste._id!=idlisteselect}">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tâche</th>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tache in lestaches">
                            <td ng-class="{'taskdone': tache.doneTask==true}">
                                <input type="checkbox" ng-model="tache.doneTask" ng-click="tacheStatus($index)">
                            </td>
                            <td ng-class="{'taskdone': tache.doneTask==true}">
                                <span ng-class="{'hidden': TacheModification==$index}">{{tache.nomTask}}</span>
                                <input ng-class="{'hidden': TacheModification!=$index}" type="text" ng-model="tache.nomTask" class="form-control">
                            </td>
                            <td ng-class="{'taskdone': tache.doneTask==true}">
                                <span>{{tache.createur}}</span>
                            </td>
                            <td ng-class="{'taskdone': tache.doneTask==true}">
                                <span>{{tache.dateTask}}</span>
                            </td>
                            <td>
                                <button ng-click="changerNomTache($index)" ng-class="{'hidden': TacheModification==$index}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                <button ng-click="supprimerTache($index)" ng-class="{'hidden': TacheModification==$index}" class="btn btn-secondary mb-2" title="Supprimer"><i class="fas fa-trash-alt"></i></button>

                                <button ng-click="modifierNomTache($index)" ng-class="{'hidden': TacheModification!=$index}" class="btn btn-success mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                <button ng-click="annulerChangement()" ng-class="{'hidden': TacheModification!=$index}" class="btn btn-danger mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> 
    </div>

    <footer class='top-space'>
        <div>
            <div class='container'>
                <div class='row'>					
                    <div class='col-md-6 widget'>
                        <div class='widget-body'>
                            <p class='simplenav'>
                                <a href='./index.html'>Accueil</a> | 
                                <a href='#'>Mes listes</a> | 
                                <a href='./moncomte.html'>Mon compte</a> | 
                                <a onclick="Logout()">Se déconnecter</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>	
</body>
</html>