<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	
	<title>TaskList - Mon Compte</title>
	
	<link rel='stylesheet' media='screen' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
	<link rel='stylesheet' href='./bootstrap/bootstrap.min.css'>
    <link rel='stylesheet' href='./fonts/font-awesome.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel='stylesheet' href='./bootstrap/bootstrap-theme.css' media='screen' >
    
	<link rel='stylesheet' href='./css/main.css'>
    <link rel='shortcut icon' type='image/png' href='img/favicon.png'/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script src='./jquery/headroom.min.js'></script>
    <script src='./jquery/jQuery.headroom.min.js'></script>
    <script src='./jquery/template.js'></script>
    
    <script src="./js/moncompte.js"></script>
    <script src="./js/cookie.js"></script>
</head>

<body ng-controller=MonCompteController>
	<div class='navbar navbar-inverse navbar-fixed-top headroom' >
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'><span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span> </button>
				<a class='navbar-brand' href="./index.html"><img src='./img/favicon.png'> TaskList </a>
			</div>
			<div class='navbar-collapse collapse'>
				<ul class='nav navbar-nav pull-right'>
                    <li><a href='./index.html'>Accueil</a></li>
                    <li><a href='./meslistes.html'>Mes listes</a></li>
                    <li><a href='#'>Mon compte</a></li>
                    <li><a onclick="Logout()">Se déconnecter</a></li>
				</ul>
			</div>
		</div>
    </div>
    
    <header id='head'>
		<div class='container'>
			<div class='row'>
				<h1 class='lead'>Mon compte</h1>
			</div>
		</div>
	</header>

    <div class="container content ">
        <div class="container col-sm-12 col-sm-offset-0">
            <h2 class="text-center">Mes informations</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <form>
                                <td>
                                    Nom : 
                                </td>
                                <td>
                                    <span ng-class="{'hidden': enmodification==0}">{{userInfos.nomUser}}</span>
                                    
                                    <span ng-class="{'hidden': errorNom==false, 'text-danger text-center': errorNom==true}">
                                        * Nom obligatoire
                                    </span>
                                    <input ng-class="{'hidden': enmodification!=0}" type="text" ng-model="userInfos.nomUser" class="form-control">
                                </td>
                                
                                <td>
                                    <button ng-click="modifierChamp(0)" ng-class="{'hidden': enmodification==0}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                    <button ng-click="modifierNom()" ng-class="{'hidden': enmodification!=0}" class="btn btn-secondary mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                    <button ng-click="annulermodification()" ng-class="{'hidden': enmodification!=0}" class="btn btn-secondary mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                                </td>
                            </form>
                        </tr>
                        
                        <tr>
                            <form>
                                <td>
                                    Prénom : 
                                </td>
                                
                                <td>
                                    <span ng-class="{'hidden': enmodification==1}">{{userInfos.prenomUser}}</span>
                                    
                                    <span ng-class="{'hidden': errorPrenom==false, 'text-danger text-center': errorPrenom==true}">
                                        * Prénom obligatoire
                                    </span>
                                    <input ng-class="{'hidden': enmodification!=1}" type="text" ng-model="userInfos.prenomUser" class="form-control">
                                </td>
                                
                                <td>
                                    <button ng-click="modifierChamp(1)" ng-class="{'hidden': enmodification==1}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                    <button ng-click="modifierPrenom()" ng-class="{'hidden': enmodification!=1}" class="btn btn-secondary mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                    <button ng-click="annulermodification()" ng-class="{'hidden': enmodification!=1}" class="btn btn-secondary mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                                </td>
                            </form>
                        </tr>
                        
                        <tr>
                            <form>
                                <td>
                                    Email : 
                                </td>
                                
                                <td>
                                    <span ng-class="{'hidden': enmodification==2}">{{userInfos.emailUser}}</span>
                                    
                                    <span ng-class="{'hidden': errorEmail!=-1, 'text-danger text-center': errorEmail==-1}">
                                        * Email déjà utilisé
                                    </span>
                                    <span ng-class="{'hidden': errorEmail!=0, 'text-danger text-center': errorEmail==0}">
                                            * Email obligatoire
                                    </span>
                                    <input ng-class="{'hidden': enmodification!=2}" type="email" ng-model="userInfos.emailUser" class="form-control">
                                </td>
                                
                                <td>
                                    <button ng-click="modifierChamp(2)" ng-class="{'hidden': enmodification==2}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                    <button type="submit" ng-click="modifierEmail()" ng-class="{'hidden': enmodification!=2}" class="btn btn-secondary mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                    <button ng-click="annulermodification()" ng-class="{'hidden': enmodification!=2}" class="btn btn-secondary mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                                </td>
                            </form>
                        </tr>
                        
                        <tr>
                            <form>
                                <td>
                                    Pseudo : 
                                </td>
                                
                                <td>
                                    <span ng-class="{'hidden': enmodification==3}">{{userInfos.pseudoUser}}</span>
                                    
                                    <span ng-class="{'hidden': errorPseudo!=-1, 'text-danger text-center': errorPseudo==-1}">
                                        * Pseudo déjà utilisé
                                    </span>
                                    <span ng-class="{'hidden': errorPseudo!=0, 'text-danger text-center': errorPseudo==0}">
                                        * Pseudo obligatoire (5 caratères minimums)
                                    </span>
                                    <input ng-class="{'hidden': enmodification!=3}" type="text" ng-model="userInfos.pseudoUser" class="form-control">
                                </td>
                                
                                <td>
                                    <button ng-click="modifierChamp(3)" ng-class="{'hidden': enmodification==3}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                    <button ng-click="modifierPseudo()" ng-class="{'hidden': enmodification!=3}" class="btn btn-secondary mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                    <button ng-click="annulermodification()" ng-class="{'hidden': enmodification!=3}" class="btn btn-secondary mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                                </td>
                            </form>
                        </tr>
                        
                        <tr>
                            <form>
                                <td>
                                    Mot de passe : 
                                </td>
                                
                                <td>
                                    <span ng-class="{'hidden': enmodification==4}" ng-repeat="c in userInfos.mdpUser">
                                        *
                                    </span>
                                    <div ng-class="{'hidden': enmodification!=4}" class="form-group row">
                                        <label class="col-sm-4 col-form-label">Ancien </label>
                                        <span ng-class="{'hidden': errorAncienMdp==false, 'text-danger text-center': errorAncienMdp==true}">
                                             * Mot de passe erroné
                                        </span>
                                        <div class="col-sm-8">
                                            <input type="password" ng-model="formData.AmdpUser" class="form-control">
                                        </div>
                                    </div>
                                    <div ng-class="{'hidden': enmodification!=4}" class="form-group row">
                                        <label class="col-sm-4 col-form-label">Nouveau </label>
                                        
                                        <span ng-class="{'hidden': errorMdp==false, 'text-danger text-center': errorMdp==true}">
                                            * Utilisez 8 caractères ou plus pour votre mot de passe.
                                        </span>
                                        <div class="col-sm-8">
                                            <input type="password" ng-model="formData.mdpUser" class="form-control">
                                        </div>
                                    </div>
                                    <div ng-class="{'hidden': enmodification!=4}" class="form-group row">
                                        <label class="col-sm-4 col-form-label">Confirmation </label>
                                        <span ng-class="{'hidden': errorMdpConf==false, 'text-danger text-center': errorMdpConf==true}">
                                             * Les mots de passe ne correspondent pas. Veuillez réessayer.
                                        </span>
                                        <div class="col-sm-8">
                                            <input type="password" ng-model="formData.NmdpUserConf" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <button ng-click="modifierChamp(4)" ng-class="{'hidden': enmodification==4}" class="btn btn-secondary mb-2" title="Modifer"><i class="fas fa-edit"></i></button>
                                    <button ng-click="modifierMdp()" ng-class="{'hidden': enmodification!=4}" class="btn btn-secondary mb-2" title="Valider"><i class="fas fa-check"></i></button>
                                    <button ng-click="annulermodification()" ng-class="{'hidden': enmodification!=4}" class="btn btn-secondary mb-2" title="Annuler"><i class="far fa-window-close"></i></button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class='top-space'>
        <div>
            <div class='container'>
                <div class='row'>					
                    <div class='col-md-6 widget'>
                        <div class='widget-body'>
                            <p class='simplenav'>
                                <a href='./index.html'>Accueil</a> | 
                                <a href='./connection.html' ng-class="{'hidden': idUser!=null}">Se connecter</a><span ng-class="{'hidden': idUser!=null}"> | </span>
                                <a href='./inscription.html' ng-class="{'hidden': idUser!=null}">S'inscrire</a>
                                <a href='./meslistes.html' ng-class="{'hidden': idUser==null}">Mes listes</a><span ng-class="{'hidden': idUser==null}"> | </span>
                                <a href='#' ng-class="{'hidden': idUser==null}">Mon compte</a><span ng-class="{'hidden': idUser==null}"> | </span>
                                <a onclick="Logout()" ng-class="{'hidden': idUser==null}">Se déconnecter</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>	
</body>
</html>